<div id="content-shipping-adress">
    <h5 class="text-uppercase ">Dirección de envío</h5>
    <div class="content-form">
        <form [formGroup]="formData">
            <div class="row  center-items">
                <div class="col-9">
                    <div class="row ">
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-user"></i>
                                </div>
                                <input type="text" id="name" name="name" placeholder="Nombre" formControlName="name">
                                <div Class="hasError" *ngIf="formData.get('name').touched && formData.get('name').hasError('required')">Required</div>
                            </div>
                        </div>
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-user"></i>
                                </div>
                                <input type="text" id="last-name" name="lastName" placeholder="Apellidos" formControlName="lastName">
                                <div Class="hasError" *ngIf="formData.get('lastName').touched && formData.get('lastName').hasError('required')">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <input type="email" id="email" name="email" placeholder="Correo Electrónico" formControlName="email">
                                <div Class="hasError" *ngIf="formData.get('email').touched && formData.get('email').hasError('required')">Required</div>
                            </div>
                        </div>
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <input type="phone" id="phone" name="phone" placeholder="Número de teléfono" formControlName="phone">
                                <div Class="hasError" *ngIf="formData.get('phone').touched && formData.get('phone').hasError('required')">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <select name="zip" id="zip" formControlName="zip" (change)="getAddress(formData.value.zip)">
                                    <option value="" selected disabled>Código Postal</option>
                                    <option value="11000">11000</option>
                                    <option value="89000">89000</option>
                                </select>
                                <div Class="hasError" *ngIf="formData.get('zip').touched && formData.get('zip').hasError('required')">Required</div>
                            </div>
                        </div>
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <input *ngIf="colonies.length === 1" type="text" name="colonia" placeholder="Colonia" formControlName="colonie">
                                <select *ngIf="colonies.length > 1" name="colonie" formControlName="colonie">
                                  <option value="" selected disabled>Colonia</option>
                                  <option *ngFor="let colonia of colonies" [value]="colonia">{{ colonia }}</option>
                                </select>
                                <div Class="hasError" *ngIf="formData.get('colonie').touched && formData.get('colonie').hasError('required')">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <input type="text" id="region" name="region" placeholder="Estado/Región" formControlName="state">
                                <div Class="hasError" *ngIf="formData.get('state').touched && formData.get('state').hasError('required')">Required</div>
                            </div>
                        </div>
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <input type="text" id="city" name="city" placeholder="Ciudad" formControlName="city">
                                <div Class="hasError" *ngIf="formData.get('city').touched && formData.get('city').hasError('required')">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <input type="text" id="municipio" name="municipio" placeholder="Delegación o municipio" formControlName="town">
                                <div Class="hasError" *ngIf="formData.get('town').touched && formData.get('town').hasError('required')">Required</div>
                            </div>
                        </div>
                        <div class="col-6 col-mob-12 pad-5-5">
                            <div class="form-group-icon">
                                <div class="icon-right text-center">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                <input type="text" id="street" name="street" placeholder="Calle" formControlName="street">
                                <div Class="hasError" *ngIf="formData.get('street').touched && formData.get('street').hasError('required')">Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pad-5-5">
                            <button class="button mr-5">Libreta de direcciones</button>
                            <button id="buttonSave" (click)="sendContanct(formData.value)" [disabled]="!formData.valid" class="button" type="submit"> Guardar </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pad-5-5">
                            <input class="mr-5" type="checkbox" id="facturacion" name="facturacion" value="yes" formControlName="facturacion">
                            <label for="facturacion">Utilizar como dirección de facturación</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-modal *ngIf="result" (closeModal)="close()" title="Enviado" message="La dirección ha sido enviada"></app-modal>