#content-shipping-adress {
    background-color: #FEFEFE;
    border: 2px solid #D8D8D8;
}

#content-shipping-adress>.content-form {
    border-top: 3px solid #0E0E0E;
    /* padding: 40px 60px; */
}

.form-group-icon {
    min-width: 150px;
}

.form-group-icon>.icon-right {
    width: 20%;
    min-width: 37px;
    max-width: 42px;
    display: inline-block;
    padding: 10px 8px;
    background-color: #0E0E0E;
    color: #FEFEFE;
}

.form-group-icon>input {
    width: 75%;
    display: inline-block;
}

select {
    width: 75%;
}

.pad-5-5 {
    padding: 5px 0px;
}

#buttonSave:disabled {
    background-color: #5f5757;
}

#buttonSave:hover {
    cursor: pointer;
}