<div id="content-order-summary">
    <h5 class="text-uppercase text-center">Resumen de la orden</h5>
    <div class="product-list">
        <div class="row product-cont" *ngFor="let product of products">
            <div class="col-3 ">
                <img class="img-responsive" src="{{product.image}}" alt="product">
            </div>
            <div class="col-6">
                <div class="p-name">{{product.name}}</div>
            </div>
            <div class="col-3 p-0-h-l ">
                <p class="p-currency">{{product.price | currency:'USD'}}</p>
            </div>
        </div>
        <div class="row buttons-cont">
            <div class="col-12 text-end">
                <button class="button mr-5 bg-red">Editar</button>
            </div>
        </div>
    </div>
    <div class="subtotal">
        <div class="row">
            <div class="col-6">
                <div class="text-uppercase">Subtotal</div>
            </div>
            <div class="col-6 text-end">
                <div>{{sumTotal | currency:'USD'}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="text-uppercase">Envio</div>
            </div>
            <div class="col-6 text-end">
                <div>A calcular</div>
            </div>
        </div>
    </div>
    <div class="total">
        <div class="row">
            <div class="col-6">
                <div class="text-uppercase">Total</div>
            </div>
            <div class="col-6 text-end">
                <div>{{sumTotal | currency:'USD'}}</div>
            </div>
        </div>
    </div>
</div>