#content-order-summary {
    background-color: #EDE9EA;
    border: 1px solid #EDE9EA;
}

#content-order-summary>.product-list {
    background-color: #FEFEFE;
}

.product-cont,
.buttons-cont {
    border-bottom: 1px solid #EDE9EA;
}

.p-name {
    color: #B1B1B1;
    font-size: 10px;
}

.p-currency {
    color: #0E0E0E;
    font-size: 11px;
    font-weight: bold;
    text-align: end;
}

#content-order-summary>.subtotal {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 5px;
}

#content-order-summary>.subtotal>.row>div,
#content-order-summary>.total>.row>div {
    padding: 2px 10px;
}

#content-order-summary>.total {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 5px;
    background-color: #0E0E0E;
    color: #FEFEFE;
}