<div id="modal" class="modal  modal-open">
    <div class="modal-all">
        <div class="modal-header">
            <div class="row ">
                <div class="col-8 p-0">
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="col-4 text-end p-0">
                    <a class="button close" (click)="close()"><i class="fas fa-times-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <p>{{message}}</p>
        </div>
    </div>

</div>