.modal-all {
    margin: 20% auto;
}

.modal-header {
    background-color: #0E0E0E;
    width: 50%;
    padding: 10px 20px;
    margin: 0px auto;
    position: relative;
}

.modal-content {
    background-color: #FEFEFE;
    width: 50%;
    padding: 10px 20px;
    margin: 0px auto;
    position: relative;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-open {
    opacity: 1;
    pointer-events: auto;
}

.close {
    font-size: 22px;
    padding: 0px;
}

.modal-title {
    color: #FEFEFE;
    margin: 5px 0px 0px 0px;
}