<div class="content">
    <div class="row">
        <div class="col-8 col-mob-12">
            <app-shipping-address></app-shipping-address>
        </div>
        <div class="col-4 col-mob-12">
            <app-order-summary [products]="products"></app-order-summary>
        </div>
    </div>
</div>

<router-outlet></router-outlet>