.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 15px;
    margin: 15px 0px;
}

input,
select {
    width: 100%;
    padding: 10px 8px 10px 20px;
    font-size: 14px;
    border: 1px solid #EFEFEF;
    color: #A5A19E;
}

.button {
    background-color: #0E0E0E;
    color: #FEFEFE;
    padding: 8px 15px;
    border: none;
    font-size: 14px;
}

.bg-red {
    background-color: #D00F3E;
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

input[type=checkbox]:checked+label:after {
    opacity: 1;
}

label {
    color: #A5A19E;
}

.mr-5 {
    margin-right: 5px;
}

.p-0-h-l {
    padding-left: 0px !important;
}

.p-0-h-r {
    padding-right: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center-items {
    display: flex;
    justify-content: center;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media screen and (max-width: 790px) {
    .col-mob-1 {
        width: 8.33% !important;
    }
    .col-mob-2 {
        width: 16.66% !important;
    }
    .col-mob-3 {
        width: 25% !important;
    }
    .col-mob-4 {
        width: 33.33% !important;
    }
    .col-mob-5 {
        width: 41.66% !important;
    }
    .col-mob-6 {
        width: 50% !important;
    }
    .col-mob-7 {
        width: 58.33% !important;
    }
    .col-mob-8 {
        width: 66.66% !important;
    }
    .col-mob-9 {
        width: 75% !important;
    }
    .col-mob-10 {
        width: 83.33% !important;
    }
    .col-mob-11 {
        width: 91.66% !important;
    }
    .col-mob-12 {
        width: 100% !important;
    }
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}